<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='fa/css/fontawesome.css') }}">
    <script src="{{ url_for('static',filename='fa/js/all.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='site.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body class="container-fluid" style="margin:5px;">
<div class="row">
    <div class="col-sm-2 flex-column" style="background-color: aliceblue;">
        <h5>Main Menu</h5>
        <a href="/" class=" btn-sm btn btn-outline-primary menubtn"><i class="fa fa-home"
                                                                       style="padding-right: 3px;"></i>View
            Employees</a>
        <a href="/add" class=" btn-sm btn btn-outline-primary menubtn"><i class="fa fa-user-alt"
                                                                          style="padding-right: 3px;"></i>Add
            Employee</a>
        <a href="/upload" class=" btn-sm btn btn-outline-primary menubtn"><i class="fa fa-upload"
                                                                             style="padding-right: 3px;"></i>Upload
            Employees</a>
        <a href="/reports" class="btn  btn-sm btn-outline-primary menubtn"><i class="fa fa-chart-line"
                                                                              style="padding-right: 3px;"></i>Generate
            Reports</a>
    </div>
    <div class="col-sm-10">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>